[report]
omit =
    setup.py
    __init__.py 
    */python?.?/* 
    */site-packages/nose/*

exclude_lines = 
    def __repr__
    if debug:
    return True
    pragma: no cover
    if __name__ == '__main__':
        unittest.main()
